<header xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        th:fragment="header">
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bgc-primary">
    <div class="container">
      <a class="navbar-brand" href="/">BellyBudget</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" th:href="@{/}" href="/">
            Home <span class="sr-only">(current)</span>
          </a>
          <a class="nav-item nav-link" th:href="@{/greeting}" href="/greeting">
            Greeting
          </a>
        </div>
      </div>

      <ul sec:authorize="not(isAuthenticated())" class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/login}" href="/login">
            Login
          </a>
        </li>
      </ul>

      <form sec:authorize="isAuthenticated()" th:action="@{/logout}" id="logout-form" method="post">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="$('#logout-form').submit();" href="#">Logout</a>
          </li>
        </ul>
      </form>

    </div>
  </nav>
</header>